@font-face {
  font-family: "Lato";
  src: url("/fonts/Lato-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Lato", sans-serif;
}

.fa-icon {
  height: 20px;
  width: 20px;
}
