---
import Layout from "../layouts/Layout.astro";
import Contact from "../components/Contact.astro";
import Footer from "../components/Footer.astro";
import Hero from "../components/Hero.astro";
import Springkasteel from "../components/Springkasteel.astro";
import Spel from "../components/Spel.astro";
---

<Layout title="Verhuur van springkastelen" activePage="index">
  <Hero />
  <div class="divider"></div>
  <div class="container mx-auto px-4 md:px-16">
    <h3
      class="text-3xl mb-4 lg:mb-8 text-neutral font-bold"
      id="springkastelen"
    >
      Onze springkastelen
    </h3>
    <Springkasteel
      imagePath="/images/springkastelen/worm-1.png"
      name="Walter de worm"
      altText="Walter de worm"
      width="3,5"
      length="4,5"
      price="90"
      extra="Optie: babyborrel (zie foto's)"
      images={["/images/springkastelen/worm-2.png"]}
    />
    <div class="divider"></div>
    <Springkasteel
      imagePath="/images/springkastelen/voetbal-1.png"
      name="Voetbal"
      altText="Voetbal"
      width="4"
      length="5"
      price="100"
      images={[
        "/images/springkastelen/voetbal-2.png",
        "/images/springkastelen/voetbal-3.png",
      ]}
    />
    <div class="divider"></div>
    <Springkasteel
      imagePath="/images/springkastelen/flamingo-1.png"
      name="Lola de flamingo"
      altText="Lola de flamingo"
      width="4"
      length="5"
      price="105"
      images={[
        "/images/springkastelen/flamingo-2.png",
        "/images/springkastelen/flamingo-3.png",
      ]}
    />
    <div class="divider"></div>
    <Springkasteel
      imagePath="/images/springkastelen/fred-1.png"
      name="Fred de eend"
      altText="Fred de eend"
      width="5"
      length="5,5"
      price="110"
      images={[
        "/images/springkastelen/fred-2.png",
        "/images/springkastelen/fred-3.png",
        "/images/springkastelen/fred-4.png",
        "/images/springkastelen/fred-5.png",
      ]}
    />
    <div class="divider"></div>
    <Springkasteel
      imagePath="/images/springkastelen/kamiel-1.png"
      name="Kamiel de leeuw"
      altText="Kamiel de leeuw"
      width="5"
      length="5,5"
      price="115"
      images={[
        "/images/springkastelen/kamiel-2.png",
        "/images/springkastelen/kamiel-3.png",
        "/images/springkastelen/kamiel-4.png",
        "/images/springkastelen/kamiel-5.png",
        "/images/springkastelen/kamiel-6.png",
      ]}
    />
    <div class="divider"></div>
    <Springkasteel
      imagePath="/images/springkastelen/maurice-1.png"
      name="Maurice het nijlpaard"
      altText="Maurice het nijlpaard"
      width="6"
      length="7"
      price="120"
      images={[
        "/images/springkastelen/maurice-2.png",
        "/images/springkastelen/maurice-3.png",
      ]}
    />
    <div class="divider"></div>
    <Springkasteel
      imagePath="/images/springkastelen/clown-1.png"
      name="Tito de clown"
      altText="Tito de clown"
      width="5"
      length="5,5"
      price="125"
      images={[
        "/images/springkastelen/clown-2.png",
        "/images/springkastelen/clown-3.png",
        "/images/springkastelen/clown-4.png",
        "/images/springkastelen/clown-5.png",
        "/images/springkastelen/clown-6.png",
      ]}
    />
    <p class="mt-8 text-neutral lg:text-xl">
      Gratis levering in Geel of binnen een straal van 15 kilometer.
    </p>
  </div>
  <div class="divider"></div>
  <div class="container mx-auto px-4 md:px-16">
    <h3 class="text-3xl mb-4 lg:mb-8 text-neutral font-bold" id="reuzespelen">
      Onze reuzespelen
    </h3>
    <Spel
      name="Balwerpen"
      imagePath="/images/reuzespelen/balwerpen.png"
      altText="Balwerpen"
      price="15"
    />
    <div class="divider"></div>
    <Spel
      name="Jenga"
      imagePath="/images/reuzespelen/jenga.png"
      altText="Jenga"
      price="15"
    />
    <div class="divider"></div>
    <Spel
      name="Knikkerbaan Smurfen"
      imagePath="/images/reuzespelen/knikkerbaan-smurfen.png"
      altText="Knikkerbaan Smurfen"
      price="15"
    />
    <div class="divider"></div>
    <Spel
      name="Knikkerbaan Simpsons"
      imagePath="/images/reuzespelen/knikkerbaan-simpsons.png"
      altText="Knikkerbaan Simpsons"
      price="10"
    />
    <div class="divider"></div>
    <Spel
      name="Paardjesspel"
      imagePath="/images/reuzespelen/mens-erger-je-niet.png"
      altText="Paardjesspel"
      price="10"
    />
    <div class="divider"></div>
    <Spel
      name="Mikado"
      imagePath="/images/reuzespelen/mikado.png"
      altText="Mikado"
      price="15"
    />
    <div class="divider"></div>
    <Spel
      name="Vier op een rij"
      imagePath="/images/reuzespelen/vier-op-een-rij.png"
      altText="Vier op een rij"
      price="25"
    />
    <div class="divider"></div>
    <Spel
      name="Ringwerpen"
      imagePath="/images/reuzespelen/ringwerpen.png"
      altText="Ringwerpen"
      price="15"
    />
    <p class="mt-8 text-neutral lg:text-xl">
      Levering van de reuzespelen is mogelijk in combinatie met een
      springkasteel. Voor afhalen kan je steeds bellen.
    </p>
  </div>
  <div class="divider"></div>
  <Contact id="contact" />
  <Footer />
</Layout>
