---
import Layout from "../layouts/Layout.astro";
import Contact from "../components/Contact.astro";
import Footer from "../components/Footer.astro";
import Hero from "../components/Hero.astro";
import Springkasteel from "../components/Springkasteel.astro";
---

<Layout title="Verhuur van springkastelen">
  <Hero />
  <div class="divider"></div>
  <div class="container mx-auto px-8">
    <h3 class="text-3xl mb-4">Onze springkastelen</h3>
    <Springkasteel
      imagePath="/src/images/springkastelen/fred-1.webp"
      name="Fred"
      altText="Fred"
      width="3,5"
      length="4,5"
      price="90"
      extra="Optie: babyborrel (zie foto's)"
      images={[
        "/src/images/springkastelen/fred-2.webp",
        "/src/images/springkastelen/fred-3.webp",
        "/src/images/springkastelen/fred-4.webp",
        "/src/images/springkastelen/fred-5.webp",
      ]}
    />
    <div class="divider"></div>
  </div>
  <Footer />
</Layout>
