---
import Layout from "../layouts/Layout.astro";
import Contact from "../components/Contact.astro";
import Footer from "../components/Footer.astro";
import Hero from "../components/Hero.astro";
import Springkasteel from "../components/Springkasteel.astro";
---

<Layout title="Verhuur van springkastelen">
  <Hero />
  <div class="divider"></div>
  <div class="container mx-auto">
    <h3>Onze springkastelen</h3>
    <Springkasteel
      imagePath="/src/images/springkastelen/fred-1.webp"
      name="Fred"
      altText="Fred"
      width="3,5"
      length="4,5"
      price="90"
    />
  </div>
  <Footer />
</Layout>
