---
import Layout from "../layouts/Layout.astro";
import Contact from "../components/Contact.astro";
import Footer from "../components/Footer.astro";
import Hero from "../components/Hero.astro";
---

<Layout title="Verhuurvoorwaarden" activePage="verhuurvoorwaarden">
  <Hero />
  <div class="divider"></div>
  <div class="container mx-auto px-4 md:px-16">
    <h3 class="text-3xl mb-4 lg:mb-8 text-neutral font-bold">
      Verhuurvoorwaarden
    </h3>
    <section id="verhuurvoorwaarden" class="space-y-4">
      <h4 class="text-neutral text-xl">Afspraken met de huurder</h4>
      <p>
        Alle gehuurde goederen zijn en blijven onder alle omstandigheden
        eigendom van de verhuurder.
      </p>
      <p>
        De verhuurder levert de goederen af in perfecte staat van onderhoud en
        werking. De huurder kan dit desgewenst controleren. Het in ontvangst
        nemen door de huurder of zijn gemachtigde geldt als onvoorwaardelijke
        aanvaarding. De huurder is aansprakelijk voor de teruggaven van de
        goederen in dezelfde staat als bij het in ontvangst nemen. De huurder
        maakt het gehuurde materiaal schoon bij extreme vervuiling, zo niet zal
        er een supplement aangerekend worden.
      </p>
      <p>
        Indien het gehuurde toestel spanning nodig heeft zorgt de huurder voor
        een stopcontact van 220 v en minimum 16 amp&egrave;re.
      </p>
      <p>
        Ieder geval van overmacht ontslaat de verhuurder geheel of gedeeltelijk
        van de verplichtingen uit deze overeenkomst, zonder dat de huurder enig
        recht op schadevergoeding kan doen gelden t.o.v. de verhuurder. Zo kan
        de verhuurder ook niet verplicht worden om na schade door overmacht een
        nieuw springkasteel te plaatsen.
      </p>
      <p>
        Aan het gehuurde materiaal mag niet worden gespijkerd, geplakt, geknipt,
        geschilderd, gespoten, gezaagd of op enige andere wijze beschadigingen
        of wijzigingen worden aangebracht.
      </p>
      <p>
        Naast de kosten van herstelling, zal de huurder de door deze
        beschadigingen of wijzigingen ontstane inkomstenderving vergoeden,
        doordat de verhuurder andere verplichtingen niet kan nakomen. Deze wordt
        geraamd op 25% van de overeengekomen huurwaarde per dag vertraging,
        onverminderd het recht van de verhuurder om een groter schade te
        bewijzen.
      </p>
      <h4 class="text-neutral text-xl">Risico</h4>
      <ul class="list-inside list-disc">
        <li>
          Gebruik van het springkasteel is enkel mogelijk onder toezicht van een
          volwassene.&nbsp;
        </li>
        <li>
          Het is verboden het springkasteel te betreden met schoeisel.&nbsp;
        </li>
        <li>
          Het is tevens verboden aan de muurtjes en de dwarsbalken te hangen of
          erop te klimmen en met eetwaren, snoepgoed of drank en scherpe
          voorwerpen het springkasteel te betreden.
        </li>
        <li>Dieren zijn niet toegelaten op het springkasteel.&nbsp;</li>
        <li>Deze beperkingen zijn niet limitatief opgesomd.&nbsp;</li>
        <li>
          Alle schade anders dan normale slijtage, alsook eventuele
          reinigingskosten veroorzaakt door abnormaal gebruik zullen worden
          doorgerekend aan de huurder.&nbsp;
        </li>
        <li>
          In geval van slechte weersomstandigheden, waaronder onweer, wind,...
          staat de huurder in voor het gehuurde materiaal. De huurder dient
          aldus in geval van gevaar voor het gehuurde materiaal de nodige
          maatregelen te treffen om de veiligheid te waarborgen en het materiaal
          en zijn omgeving te vrijwaren voor eventuele schade. Bij wind en
          onweer dient het springkasteel onmiddellijk uitgeschakeld, afgelaten
          en dicht gevouwen te worden. Gebruik van het regenzeil of vast dak
          garandeert niet dat het springkasteel volledig droog zal blijven bij
          regen.
        </li>
        <li>
          De huurder staat in voor de bewaking en de bewaring van het gehuurde
          materiaal, ook &lsquo;s nachts indien het gehuurde materiaal moeten
          blijven staan.
        </li>
        <li>
          Eventuele schade dient door de huurder onmiddellijk aan de verhuurder
          gemeld te worden.
        </li>
      </ul>
      <p>
        Onverminderd zijn verhaal op derden is de huurder aansprakelijk voor elk
        risico, verlies, diefstal, schade, vernieling, verschil, minderwaarde,
        verkeerd gebruik, graffiti of behandeling enz. in de ruimste zin zonder
        fout of opzet van derden, toeval of overmacht te kunnen inroepen t.o.v.
        de verhuurder. Terugname door de verhuurder betekent geen aanvaarding en
        sluit een eis tot schadevergoeding niet uit. De verhuurder beschikt over
        een termijn van 5 dagen na de terugname, zaterdag en zon- en feestdagen
        niet inbegrepen, om de huurder zijn bevindingen inzake schade of
        minderwaarde mee te delen.
      </p>
      <p>
        Hij doet per aangetekend schrijven waarin hij de huurder uitnodigt om
        binnen een termijn van 3 dagen de schade te komen vaststellen. Indien de
        huurder hierop binnen de voorzien termijn niet reageert dan wordt dit
        als aanvaarding beschouwd. De verhuurder is dan gemachtigd om tot
        onmiddellijke herstelling of vervanging over te gaan en alle kosten
        hiervan aan de huurder aan te rekenen. De bovenvermelde termijn van 5
        dagen doet geen afbreuk aan de mogelijkheid voor de verhuurder om
        eventuele schade te laten vaststellen op andere wijze, nl. door bv; een
        tegensprekelijke expertise, een deurwaardersexploot of een
        proces-verbaal van de politie.
      </p>
      <p>
        De verhuurder is nooit aansprakelijk voor ongevallen en/of
        beschadigingen aan personen, dieren of goederen ongeacht wiens eigendom,
        noch tijdens het opbouwen en afbreken van gehuurde goederen.
      </p>

      <h4 class="text-neutral text-xl">Verzekering</h4>
      <p>
        De huurders of diens verzekeraars doen afstand van verhaal t.o.v. de
        verhuurder, voor eventuele schade veroorzaakt door brand, storm, wind,
        regen en overstroming e.d. aan hun goederen, derden, aan personen en/of
        dieren, ongeacht het feit dat deze in of buiten het verhuurde bevinden.
      </p>
      <p>
        De huurder sluit zelf een verzekering af (bij een verzekeringsagent)
        voor personen die het gehuurde toestel gebruiken of betreden.
      </p>

      <h4 class="text-neutral text-xl">Terrein</h4>
      <p>
        De huurder staat in voor de keuze van het terrein. Hij zal de verhuurder
        of zijn aangestelde waarschuwen voor alle mogelijke obstakels op of
        onder de grond.
      </p>
      <p>
        De huurder zal ten allen tijde aansprakelijk zijn voor de schade
        toegebracht aan het terrein en de uitrusting (o.a. telefoon, water
        riolering elektriciteit en e.d.) hierop aangebracht. De huurder kan
        tegen de verhuurder nooit inroepen dat hij het terrein of de
        ondergrondse toestand ervan niet kende.
      </p>
      <p>
        De huurder zorgt bij de aanvang van de opbouw voor een zuiver, bouwklaar
        terrein dat vrij is van obstakels. Zo niet heeft de verhuurder het recht
        te weigeren van het materiaal op te stellen. De huurder blijft de
        overeengekomen prijs als schadevergoeding verschuldigd.
      </p>
      <p>
        Alle processen-verbaal m.b.t. verkeerde plaatsing en kosten verbonden
        aan heropbouw vallen ten laste van de huurder.
      </p>

      <h4 class="text-neutral text-xl">Reservatie en annulering</h4>
      <p>
        Bij het niet afhalen van de bestelde goederen wordt de volledige
        huurprijs gerekend.
      </p>
      <p>
        Bij annulering binnen de 2 maanden wordt er 50% van het gehuurde bedrag
        betaald. Deze regel vervalt, wanneer men op de gehuurde dag annuleert
        wegens slechtweer (heel de dag regen of veel wind). De verhuurder
        bepaalt of dit weer echt slecht is.
      </p>
      <p>
        Bij annulering op de dag zelf, wordt er van de huurder verwacht te
        bellen voor 3 uur voor het afgesproken moment van plaatsing.
      </p>
    </section>
  </div>
  <div class="divider"></div>
  <Contact id="contact" />
  <Footer />
</Layout>
