$sizes: (0,1,2,3,4,5,6,7,8,9,10);
$positions: ('top','left','bottom','right');
$directions: ('horizontal', 'vertical');

@each $size in $sizes {
  @each $position in $positions {
    .m#{str-slice($position, 0, 1)}-#{$size} {
      margin-#{$position}: #{$size}rem !important;
    }

    .m-#{$size} {
      margin: #{$size}rem !important;
    }

    .p#{str-slice($position, 0, 1)}-#{$size} {
      padding-#{$position}: #{$size}rem !important;
    }

    .p-#{$size} {
      padding: #{$size}rem !important;
    }
  }
}

@each $size in $sizes {
    .my-#{$size} {
      margin-top: #{$size}rem !important;
      margin-bottom: #{$size}rem !important;
    }

    .mx-#{$size} {
      margin-left: #{$size}rem !important;
      margin-right: #{$size}rem !important;
    }

    .py-#{$size} {
      padding-top: #{$size}rem !important;
      padding-bottom: #{$size}rem !important;
    }

    .px-#{$size} {
      padding-left: #{$size}rem !important;
      padding-right: #{$size}rem !important;
    }
}
