<section id="footer">
  <div class="container">
    <ul class="copyright">
      <li>&copy; JolaFun. All rights reserved.</li>
      <li>2440 &middot; Geel</li>
      <li>BE0759.907.797</li>
      <li>
        <nuxt-link to="verhuurvoorwaarden">Verhuurvoorwaarden</nuxt-link>
      </li>
    </ul>
  </div>
</section>
