---
import "../styles/main.scss";
import { Image } from "astro:assets";
import logo from "../images/logo-small-fat-white-bg.svg";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Jolafun - {title}</title>
  </head>
  <body>
    <div class="drawer lg:drawer-open">
      <input id="nav-drawer" type="checkbox" class="drawer-toggle" />
      <div class="drawer-content flex flex-col">
        <slot />
      </div>
      <div class="drawer-side">
        <label
          for="nav-drawer"
          aria-label="close sidebar"
          class="drawer-overlay"></label>

        <div
          class="w-80 min-h-full text-base-content bg-primary flex flex-col items-center gap-4 lg:gap-8"
        >
          <Image src={logo} alt="Logo" class="mt-16 h-32 lg:h-48" />
          <p class="uppercase text-white text-3xl font-bold">Jolafun</p>
          <div class="text-white text-lg">
            <p><a href="mailto:info@jolafun.be">info@jolafun.be</a></p>
            <p><a href="mailto:info@jolafun.be">0477 06 62 54</a></p>
          </div>
          <div class="w-full flex flex-col flex-1 justify-between">
            <ul class="flex flex-col items-center w-full">
              <li>
                <a href="#home" class="active scrollLink">Home</a>
              </li>
              <li>
                <a href="#springkastelen" class="scrollLink">Springkastelen</a>
              </li>
              <li>
                <a href="#reuzespelen" class="scrollLink">Reuzespelen</a>
              </li>
              <li>
                <a href="https://figofun.be" target="_blank" rel="noreferrer"
                  >Gekke fietsen</a
                >
              </li>
              <li>
                <a href="#contact" class="scrollLink">Contact</a>
              </li>
            </ul>
            <div class="socials flex justify-center gap-8 mb-8">
              <svg
                class="w-6 h-6"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 320 512"
                fill="#f8cda1"
                ><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                <path
                  d="M80 299.3V512H196V299.3h86.5l18-97.8H196V166.9c0-51.7 20.3-71.5 72.7-71.5c16.3 0 29.4 .4 37 1.2V7.9C291.4 4 256.4 0 236.2 0C129.3 0 80 50.5 80 159.4v42.1H14v97.8H80z"
                ></path></svg
              >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 448 512"
                class="w-6 h-6"
                fill="#f8cda1"
                ><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                <path
                  d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z"
                ></path></svg
              >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 512 512"
                class="w-6 h-6"
                fill="#f8cda1"
                ><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                <path
                  d="M48 64C21.5 64 0 85.5 0 112c0 15.1 7.1 29.3 19.2 38.4L236.8 313.6c11.4 8.5 27 8.5 38.4 0L492.8 150.4c12.1-9.1 19.2-23.3 19.2-38.4c0-26.5-21.5-48-48-48H48zM0 176V384c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V176L294.4 339.2c-22.8 17.1-54 17.1-76.8 0L0 176z"
                ></path></svg
              >
            </div>
          </div>
        </div>
      </div>

      <script src="../scripts/fslightbox/fslightbox.js"></script>
      <script src="../scripts/smoothScroll.ts"></script>
    </div>
  </body>
</html>
